body {
    background-color: black;
    color: white;
    background-image: url(r.gif);
    background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: scale(.89);
    -moz-transform: scale(.89);
    transform: scale(.89);
  }
  
  .mainContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  :root {
	--tiles-size: 130px;
	--mark-size: calc(var(--tiles-size) * .9);
}

h1,h6{
  color:black;

}

#playerMessage {
   font-size: 30px;
  color: black;
}

#reset {
    padding: 10px 20px;
    background-color: transparent;
    border: whitesmoke 1px solid;
    border-radius: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
      padding: .5rem 1rem;
      text-transform: uppercase;
      font-weight: 700;
  }
  
  #board {
      display: grid;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(3, auto);
  }

  .tiles {
	height: var(--tiles-size);
	width: var(--tiles-size);
	background-color: white;
	border: 1px solid lightblue;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    opacity: 88%;
}

.tiles.x {
	background-color: aquamarine;
  background-image: url(x.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.tiles.o {
	background-color: deepskyblue ;
  background-image: url(o.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

#resultContainer {
    background-color: transparent;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  #gameResult {
    font-size: 3rem;
    margin-bottom: 0;
    position: center;
    background-position: center;
    justify-content: center;
    align-items: center;
  
  }

  .btn {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 1000;
    background-color: white;
    color: black;
    border: 2px solid black;
  }
  
  #score1,#score2,#score3{
    color: black;
    position: right;
    float: right;
    font-weight: 1000;
  }

  .panicbtn{
	color: red;
	background-color: transparent;
	border-color: red;

}

.wrapper{
	display: flex;
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
  }
  
  .wrapper .sidebar{
	width: 150px;
	height: 100%;
	background: transparent;
	padding: 30px 0px;
	position: fixed;
	border: 10px;
	border-color: black;
  }
  
  .wrapper .sidebar h3{
	color: black;
	text-align: left;
	font-weight: 1000;
	margin-bottom: 30px;
  }
  